<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog.title }}</title>
</head>
<body>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">

    <!-- Header -->
    <header class="header">
      <h1>My Blog</h1>
    </header>

    <!-- Navigation Bar -->
    <navbar class="navbar">
      <a href="http://annakowalczyk.eu.pythonanywhere.com/admin/">Admin</a>
      <a href="#">Link</a>
      <a href="#">Link</a>
      <a href="#">Link</a>
    </navbar>

    <!-- The flexible grid (content) -->
    <div class="row">
      <sidebar>
        <h2>About Blog</h2>
        <p>Some text</p>
      </sidebar>
      <div class="main">
        <article>
            {% load markdownify %}
            <div class='article_header'>
                <h1>{{ blog.title }}</h1>
                <p>{{ blog.date }}</p>
            </div>
            <div class='article_body'>
                {{ blog.body |markdownify }}
            </div>
        <article>
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <h2>Footer</h2>
    </footer>
</body>
</html>